<div id="recipe_ingredients" class="min-w-full divide-y divide-gray-200 space-y-2">
  <% if recipe_ingredients.any? %>
    <% recipe_ingredients.each do |recipe_ingredient| %>
      <div class="w-full grid grid-cols-2 place-items-stretch pb-2 sm:pb-0">
        <%= render recipe_ingredient %>
        <div class="w-auto flex justify-end items-center">
          <%= link_to fa_icon("pencil"), edit_recipe_ingredient_path(recipe_id: recipe_ingredient.recipe.id, id: recipe_ingredient.id), title: "Edit ingredient", class: "w-full sm:w-auto px-2.5 py-1.5 mx-1 text-blue-600 hover:text-blue-500 inline-block font-medium" %>
          <%= button_to fa_icon("trash"), recipe_ingredient, method: :delete, title: "Delete ingredient", class: "w-full sm:w-auto px-2.5 py-1.5 mx-1 text-red-600 hover:text-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center my-10">No recipe ingredients found.</p>
  <% end %>
</div>