# URL to the PostgreSQL database
DATABASE_URL=postgresql://user:password@server:5432/database_name
# Secret key base for Rails application. Generate a secure key using `rails secret` and replace the value below.
SECRET_KEY_BASE=your_secret_key_base_here
# Optional: Port for the Rails server (default is 3000)
PORT=3000
# Optional: Mailer configuration for development environment (using Mailtrap)
# You'll need to sign up for a Mailtrap account and create an inbox to get these values.
# Don't forget to update config/environments/development.rb to use Mailtrap as the delivery method.
MAILER_MAILTRAP_API_KEY=your_mailtrap_api_key_here
MAILER_MAILTRAP_INBOX_ID=your_mailtrap_inbox_id_here
# Optional: Default "from" email address for outgoing emails in development
FROM_EMAIL=from@example.com