<%= turbo_frame_tag "ingredients_results" do %>
  <div id="ingredients" class="grid grid-cols-3 min-w-full gap-3 mt-4">
    <% if ingredients.any? %>
      <% ingredients.each do |ingredient| %>
        <%= link_to edit_ingredient_path(ingredient), data: { turbo_frame: "_top" }, class: "flex justify-between items-top bg-blue-50 border-2 border-blue-200 rounded-md p-2" do %>
          <div class="flex flex-col sm:flex-row space-x-2 space-y-2">
              <%= render ingredient %>
          </div>
          <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No ingredients found.</p>
    <% end %>
  </div>
<% end %>