<%= turbo_frame_tag "tags_results" do %>
  <div id="tags" class="grid grid-cols-3 min-w-full gap-3 mt-4">
    <% if tags.any? %>
      <% tags.each do |tag| %>
        <%= link_to edit_tag_path(tag), class: "flex justify-between items-top bg-blue-50 border-2 border-blue-200 rounded-md p-2" do %>
          <div class="flex flex-col sm:flex-row space-x-2 space-y-2">
              <%= render tag %>
          </div>
          <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tags found.</p>
    <% end %>
  </div>
<% end %>