<% content_for :title, "Tags" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-2">
    <h1 class="font-bold text-4xl">Tags</h1>
    <%= link_to fa_icon("plus"), new_tag_path, title: "New tag", class: "aspect-square rounded-full size-10 flex items-center justify-center bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="tags" class="grid grid-cols-3 min-w-full gap-3">
    <% if @tags.any? %>
      <% @tags.each do |tag| %>
        <%= link_to edit_tag_path(tag), class: "flex justify-between items-top bg-blue-50 border-2 border-blue-200 rounded-md p-2" do %>
          <div class="flex flex-col sm:flex-row space-x-2 space-y-2">
              <%= render tag %>
          </div>
          <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No tags found.</p>
    <% end %>
  </div>
</div>
