<div id="<%= dom_id unit %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium text-xl mb-1"><%= unit.name %></strong>
  </div>
  <div>
    <%= unit.abbreviation %>
  </div>
</div>
